<div class="col-xs-6">
    <p>Is this person wearing jorts?</p>
    <% if (value === true) { %>
    <h2 class="has-jorts">Jorts +1</h2>
    <% } else { %>
    <h2 class="no-jorts">No Jorts</h2>
    <% } %>

    <div class="btn-toolbar">
        <button type="button" class="btn btn-next next-question"><span>Next Photo</span></button>
    </div>

    <div class="current-score">SCORE: <span class="score"><%= game.score %></span></div>

    <div class="strikes num-strikes-<%= game.wrong %>">
        <ul>
            <% for (var i = 0; i < game.wrong; i++) { %>
            <li>X</li>
            <% } %>
        </ul>
    </div>
</div>
<div class="col-xs-6">
    <img src="<%= full %>" alt="" class="jorter">
</div>