<h2 class="header">Leaderboard</h2>
<table class="table">
    <thead>
        <tr>
            <td class="player-name">Player</td>
            <td class="player-score">Score</td>
        </tr>
    </thead>
    <tbody>
        
    <% for (var i = 0; i < scores.length; i++) {
        var score = scores[i]; %>
        <tr>
            <td class="player-name"><label><%= i+1 %>.</label> <%= score.Player.username %></td>
            <td class="player-score"><strong><%= score.Score.score %></strong></td>
        </tr>
    <% } %>

    </tbody>
</table>