<h2>Leaderboard</h2>
<table class="table">
    <thead>
        <tr>
            <td>Player</td>
            <td>Score</td>
        </tr>
    </thead>
    <tbody>
        
    <% for (var i = 0; i < scores.length; i++) {
        var score = scores[i]; %>
        <tr>
            <td><label><%= i+1 %>.</label> <%= score.Player.username %></td>
            <td><strong><%= score.Score.score %></strong></td>
        </tr>
    <% } %>

    </tbody>
</table>