<h1>You Lose</h1>
<h2>Score: <%= score %></h2>
<button type="button" class="btn btn-primary play-button">Play Again</button>
<button type="button" class="btn btn-success leaderboard-button">Leaderboard</button>
