<!-- <h1>Jorts <br> or <br> No Jorts?</h1> -->

<p>The game where you guess whether of not someone is wearing jorts.</p>

<div class="col-xs-4 col-xs-offset-4">
    <button type="button" class="btn btn-primary btn-block play-button">Play</button>
    <button type="button" class="btn btn-success btn-block leaderboard-button">Leaderboard</button>
</div>