<h1>High Score</h1>
<p>Enter your name for the leaderboard:</p>
<form class="score-form">
    <input type="text" class="form-control" name="username" placeholder="Your Name" autocomplete="off">
    <h2>Score: <%= score %></h2>
    <button type="submit" class="btn btn-success">Submit Score</button>
</form>